@font-face {
    font-family: Playfair Display;
    src: url(font/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Playfair Display;
    src: url(font/PlayfairDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Playfair Display;
    src: url(font/PlayfairDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Clicker Script;
    src: url(font/ClickerScript-Regular.ttf);
    font-weight: 400;
}