@import 'font';
@import 'reset';
@import 'mixin';



.preview {
    background-image: url(coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;

    header {
        @include flex-row-between(center);
        max-width: 1180px;
        margin: auto;
        padding: 20px 0;

        nav {
            @include flex-row-between(center);
            gap: 42px;

            p {
                color: #fff;
                font: 500 14px Playfair Display;
            }
        }

        div {
            display: flex;
            gap: 35px;

            button:first-child {
                background-color: transparent;
                border-width: 0;
                color: #fff;
            }

            button:last-child {
                @include button(100px);
            }
        }
    }

    section {
        max-width: 1180px;
        width: 100%;
        margin: auto;

        div {
            max-width: 527px;
            @include slider-flex-background(20px, transparent, start);
            padding: 96px 0 95px 0;

            .text {
                color: #FFFFFF;
                font: 500 22px Playfair Display;
            }

            h1 {
                color: #FFFFFF;
                font: 400 220px Clicker Script;
            }

            p {
                color: #FFFFFF;
                font: 400 20px Playfair Display;
                line-height: 34px;
            }

            button {
                @include button();
            }
        }
    }
}

.favorit {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    @include flex-row-between(center);
    padding-top: 150px;

    div {
        max-width: 585px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 29px;

        h2 {
            font: 700 54px Playfair Display;
            color: #603809;
        }

        p {
            font: 400 20px Playfair Display;
            line-height: 34px;
            color: #707070;
        }

        button {
            @include button();
        }
    }

    img {
        max-width: 500px;
        max-height: 484px;

    }
}

.menu {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    padding-top: 82px;
    text-align: center;

    p:first-child {

        font: 700 54px Playfair Display;
        color: #603809;
    }

    p:nth-child(2) {
        font: 400 20px Playfair Display;
        line-height: 34px;
        color: #707070;
        padding: 16px 0 32px 0;
    }

    .contener {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 50px;

        .slider {
            width: 280px;
            height: 374px;
            background-color: #FFF9F1;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid #F9C06A6B;
            position: relative;
            border-top-width: 0;

            img {
                width: 283px;
                height: 222px;
            }

            .description {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 6px;

                h5 {
                    padding-top: 18px;
                    font: 700 22px Playfair Display;
                    color: #603809;
                }

                .compound {
                    font: 400 16px Playfair Display;
                    color: #1E1E1E;
                    padding: 0;
                }

                .price {
                    font: 700 18px Playfair Display;
                    color: #603809;
                    padding: 0;
                }
            }

            button {
                @include button();
                position: relative;
                bottom: -25px;
            }
        }
    }
}


.differences {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 82px 0 82px 0;

    .first-p {
        @include text-p(#603809, 700, 54px);
        padding-bottom: 16px;
    }

    .second-p {
        @include text-p(#707070, 400, 20px);
        line-height: 34px;
        padding-bottom: 32px;
    }

    .contener {
        display: flex;
        justify-content: space-between;

        div {
            width: 280px;
            height: 284px;
            @include slider-flex-background(8px, #FFF9F1);
            @include border(1px, #F9C06A6B);

            &:first-child {
                @include slider-flex-background(8px, #FFEED8);
                @include border(0, transparent);
            }

            img {
                padding-bottom: 24px;
            }

            p:nth-child(2) {
                @include text-p(#603809, 700, 28px);
            }

            p:last-child {
                @include text-p(#707070, 400, 20px);
            }
        }

    }

    .third-p {
        @include text-p(#707070, 400, 20px);
        padding: 32px 0 24px 0;

        span {
            @include text-p(#603809, 700, 30px);
        }
    }

    button {
        @include button();
    }

}

.order-now {
    background-image: url(resourse/Group\ 38.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    .contener {
        max-width: 1180px;
        margin: auto;
        @include flex-row-between(center);
        padding: 54px 0;

        div {
            display: flex;
            flex-direction: column;
            gap: 22px;
            max-width: 575px;

            p:first-child {
                @include text-p(#FFFFFF, 700, 54px);
            }

            p:nth-child(2) {
                @include text-p(#FFFFFF, 400, 22px);
                line-height: 34px;
            }

            button {
                @include button();
            }
        }
    }

    img {
        width: 300px;
        height: 467px;
    }
}

.feedback {
    max-width: 1180px;
    width: 100%;
    margin: auto;

    .div {
        padding: 82px 40px 120px 40px;

        .first-p {
            @include text-p(#603809, 700, 54px);
            text-align: center;
        }

        .second-p {
            @include text-p(#707070, 400, 20px);
            line-height: 34px;
            text-align: center;
        }

        .contener {
            display: flex;
            align-items: center;
            max-width: 980px;
            width: 100%;
            margin: auto;
            position: relative;
            padding-top: 42px;

            .btn-left {
                position: absolute;
                left: -41px;
                @include button(82px, 82px, 16px);
                z-index: 5;
            }

            .slider-feedback {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #FFF9F1;
                border: 1px solid #F9C06A6B;
                padding: 100px 29px 100px 29px;
                align-items: center;


                p:first-child {
                    @include text-p(#603809, 700, 220px);
                    line-height: 30px;
                    position: absolute;
                    left: 40px;
                }

                p:nth-child(2) {
                    @include text-p(#707070, 600, 18px);
                    line-height: 36px;
                    text-align: center;
                    padding: 10px 100px 28px 100px;
                }

                p:nth-child(3) {
                    @include text-p(#603809, 700, 32px);
                    // text-align: center;
                    padding-bottom: 4px;
                }

                p:nth-child(4) {
                    @include text-p(#707070, 400, 20px);
                    line-height: 34px;
                    // text-align: center;
                }

                .img {
                    width: 112px;
                    height: 112px;
                    border-radius: 16px;
                    object-fit: cover;
                    position: absolute;
                    bottom: -56px;
                    box-shadow: 0px 6px 12px 0px #F9C06A38;
                }
            }

            .btn-right {
                position: absolute;
                right: -41px;
                @include button(82px, 82px, 16px);
                z-index: 5;
            }
        }
    }
}

.coffe {
    background-image: url(resourse/Group\ 38.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 374px;
    width: 100%;
}

footer {
    background-image: url(resourse/Group\ 62.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    padding: 62px 0 60px 0;

    .contener {
        max-width: 1180px;
        width: 100%;
        margin: auto;
        @include flex-row-between();
        gap: 66px;

        .div {
            max-width: 380px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            h5 {
                @include text-p(#FFFFFF, 400, 56px, Clicker Script);
            }

            p {
                @include text-p(#FFFFFF, 400, 14px, Playfair Display);
            }

            .icon {
                display: flex;
                flex-direction: row;
                gap: 20px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        nav {
            max-width: 322px;
            display: flex;
            flex-direction: column;
            gap: 22px;
            @include text-p(#FFFFFF, 400, 18px);

            h5 {
                @include text-p(#FFFFFF, 700, 22px);
                padding-bottom: 33px;
            }
        }
    }
}